$black-normal: #141516;
$black-dark: #050607;
$black-light: #242526;


$white-normal:#E6E8E8;
$white-dark: #EEF0F0;
$white-light: #F5F7F7;

$red-normal: #ED2D2D;
$red-dark: #DB2626;
$red-light: #F13A3A;

$gray-1:#777;

.color-gray{
color:  $gray-1
}
